
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


.banner{
    background-image: url(../../resources/Banner/homeBanner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:50vh;
    
}

.text{
    margin: 200px;
    font-family:'Monoton', cursive;;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 50px;
    text-align: center;
    color: #00FBA4;
}